<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <title>jankengame</title>
</head>

<body>
  <h1>Janken GAME!</h1>

  <p />

  <div th:if="${Name}">
    Hi [[${Name}]]
  </div>

  <div>
    <a href="/hand_rock">グー</a>
    <a href="/hand_scissors">チョキ</a>
    <a href="/hand_paper">パー</a>
  </div>

  <div th:if="${YourHand}">
    あなたの手 [[${YourHand}]]
  </div>

  <div th:if="${EnemyHand}">
    相手の手 [[${EnemyHand}]]
  </div>

  <div th:if="${Result}">
    結果 [[${Result}]]
  </div>

</body>

</html>
