<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <title>jankengame</title>
</head>

<body>
  <h1>Janken GAME!</h1>

  <p />

  <div th:if="${Name}">
    Hi [[${Name}]]
  </div>

  <div>
    <a href="/hand_rock">グー</a>
    <a href="/hand_scissors">チョキ</a>
    <a href="/hand_paper">パー</a>
  </div>

  <div th:if="${janken}">
    <div>
      あなたの手 [[${janken.getYourHand()}]]
    </div>
    <div>
      相手の手 [[${janken.getEnemyHand()}]]
    </div>
    <div>
      結果 [[${janken.getResult()}]]
    </div>
  </div>

</body>

</html>
