<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <title>jankengame</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>

  <h1>Match</h1>

  <div th:if="${user1}">
    <h2 th:if="${user2}">[[${user1.name}]] V.S. [[${user2.name}]]</h2>
  </div>

  <div>
    <a th:href="@{/fight(id=${user2.id}, hand='Gu')}">グー</a>
    <a th:href="@{/fight(id=${user2.id}, hand='Choki')}">チョキ</a>
    <a th:href="@{/fight(id=${user2.id}, hand='Pa')}">パー</a>
  </div>

  <div th:if="${janken}">
    <p />
    <div>
      ＜今回のあなたの結果＞
    </div>
    <div>
      あなたの手 [[${janken.getYourHand()}]]
    </div>
    <div>
      相手の手 [[${janken.getEnemyHand()}]]
    </div>
    <div>
      結果 <b>[[${janken.getResult()}]]</b>
    </div>
    <p />
    <div>
      ＜エントリー者全員の合計結果＞
    </div>
    <div>
      総試合回数 [[${janken.getMatchCnt()}]]回
    </div>
    <p />
    <div>
      <div>
        勝利数 [[${janken.getWinCnt()}]]回
      </div>
      <div>
        敗北数 [[${janken.getLoseCnt()}]]回
      </div>
      <div>
        引き分け数 [[${janken.getDrawCnt()}]]回
      </div>
    </div>
    <p />
    <div th:if="${janken.getContinueCnt() ge 2}">
      <span style="color:red">[[${janken.getContinueCnt()}]]連勝！！！</span>
    </div>
  </div>

  <div>
    <a href="/janken">もどる</a>
  </div>


</html>
